elpa/
.mc-lists.el

*.local~

*.el~
/.#init.el
/#init.el#

ac-comphist.dat

/url
/smex-items

elisp/secret.el

eshell/history
/my-themes/#StripteaseTwo-theme.el#

eshell/lastdir

abbrev_defs
/tramp
/games/
/.emacs.desktop
/.emacs.desktop.lock
